{% extends 'base.html.twig' %}

{% block body %}


    <div class="container">
        <h2 class="mt-5 mb-4 crTitle">Pour réinisialiser votre mot de passe merci de bien vouloir saisir votre email :</h2>
        {{ form_start(form) }}
        <div class="row">

            <div class="offset-lg-1 col-lg-8">
                {{ form_row(form.email) }}
            </div>

            <div class="offset-lg-1 col-lg-5 mt-2">
                <button class="btn rdcBtn">Envoyer mail</button>
            </div>

        </div>
        {{ form_end(form) }}


    </div>


{% endblock %}

{% block title %}

{% endblock %}