{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}

<form method="post" style="min-height: 500px;">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
        <div class="row mt-5">
            <div class="card cardRDC  offset-lg-4 col-lg-4 pt-3 pb-5 offset-md-2 col-md-8 offset-1 col-10 ">
                <div class="card-body">

                    <div class=""><h3 class="text-center crTitle pb-1 pt-3">Pour accéder à l'espace Bénévoles merci de vous connecter.</h3></div>
                    <hr>
                    <div><p class="pb-4">Si vous n'êtes pas encore membre, merci de vous addresser à un responsable. <a href="{{ path('forgot_password') }}">Mot de passe oublié ?</a> </p></div>
                    <div class="">
                        <label for="inputEmail" class="sr-only">Email</label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" placeholder="Email" required autofocus>
                    </div>
                    <div class="">
                        <label for="inputPassword" class="sr-only"></label>
                        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Mot de Passe" required>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                    </div>
                    <div class="">
                        <button class="btn rdcBtn mt-4 offset-lg-3 col-lg-6 offset-md-4 col-md-4 offset-2 col-8   " type="submit">
                            Se Connecter
                        </button>
                    </div>


                </div>
            </div>

        </div>
</form>

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}


{% endblock %}
