{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <h1 class="mt-5 mb-4 crTitle">Pour modifier votre mot de passe : </h1>

        {{ form_start(form) }}
        {{ form_row(form) }}
        <button class="btn rdcBtn offset-4 col-lg-4">Envoyer</button>
        {{ form_end(form) }}
    </div>


{% endblock %}

{% block title %}

{% endblock %}