<html>
<head>
<meta charset="UTF-8"/>
</head>
<body>
            <h1>Pour réinitialiser votre mot de passe, cliquez sur ce lien.</h1>
            <a href="{{ url('reset_password', {token: user.token}) }}" >Réinitilisation mot de passe</a>
</body>
</html>