<!DOCTYPE html>
<html>

<head>
    <title>Mail</title>
    <meta charset="utf-8"/>
</head>
<body style="text-align: center; font-family: 'Avenir';">
<h2 class="" style="color: rgb(80, 117, 159);">Rdc Nation Vendredi</h3>
    <hr width="50%">
    <h3 class=" ">Pour réinitialiser votre mot de passe, cliquez sur ce lien</h1>
        <div class="">
            <a href="{{ url('reset_password', {token: user.token}) }}" style="color: rgb(80, 117, 159);" > Réinitialiser mot de passe</a>
        </div>


</body>
</html>